<%- include('partials/header'); -%>

<header>
  <div class="smothie">
    <img src="/img11.jpg" alt="image" />
  </div>
  <div>
    <h2>book store</h2>
    <h3>for the conscious mind</h3>
    <a href="/book" class="btn">view books</a>
  </div>
</header>

<%- include('partials/footer'); -%>
